@media screen and (max-width: 1220px) {
.container{width:1000px;} 
.aboutus-sec .right-sec{padding: 34px 0px 47px 50px;}
.aboutus-content p{font-size: 15px; line-height: 28px;}
p.text-content{margin-bottom: 15px;}
.services-content-sec{margin-top: 45px;}
.item-page .item-page-sec{width: 250px;}
.services-tittle{width: auto;}

.main-title{margin-bottom: 20px;}
.aboutus-content p{margin-bottom: 20px;}
.aboutus-sec .right-sec {    padding: 34px 0px 0px 50px;}
.aboutus-sec .left-sec img {    height: 378px;}
.item-page-sec:nth-child(2n) .right-sec{padding: 15px 50px 0px 0;}
.aboutus-sec .right-sec {    padding: 17px 0px 0px 50px;}
.contact-outer .map-right{padding: 0px 0px 0 11px;}

.aboutus-sec .left-sec img {    height: 360px;  }
.contact-detail strong{font-size: 16px;}
.contact-detail span{font-size: 16px;}
.contact-detail .address{font-size: 16px;}


}

@media screen and (max-width:1023px) {
.container{width:782px;} 
.h-btm-rgt{display: none;}
.menu-btn{display: block;}
.h-top-rgt .text{margin-bottom: 15px; width: 100%; margin-right: 0px;}
.menu-btn {width: auto;float: left;margin-right: 0;margin-top: 17px;display: inline-block;position: relative;left: 0;top: 5px;}
.header-lft .logo{margin-left: 18px; width: 355px;}
.h-top-rgt .call a{font-size: 22px;}
.h-top-rgt .call{width: 210px;height: 33px;}
.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited{text-align: left; color: #000; font-family: 'Roboto', sans-serif; font-weight: 300;}
.mm-menu{background: #fff;}
.mm-navbars_bottom > .mm-navbar, .mm-navbars_top > .mm-navbar{background: #000; font-family: 'Roboto', sans-serif; font-weight: 300;}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar > *{color: #fff; font-family: 'Roboto', sans-serif; font-weight: 300;}
.mm-menu .mm-btn::after, .mm-menu .mm-btn::before {border-color:#fff ; }
/*.aboutus-sec .right-sec{padding: 65px 0px 78px 30px;}
*/.aboutus-sec .left-sec img{height: 356px;}
.main-title{font-size: 22px;padding: 24px 0 0 0;margin-bottom: 12px;;}
.main-title::after {font-size: 62px;}
p.text-content{margin-bottom: 10px; font-size: 14px;line-height: 22px;}
.aboutus-content p{line-height: 22px;}
.services-content-sec{margin-top: 30px;}
.item-page .item-page-sec{width: 390px;}
.contact-outer .map-div iframe {    width: 100%;    height: 470px;}
.contact-tittle{margin-bottom: 20px;}
.contactus-contant .left-bar{width:380px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap input[type="text"]{width:380px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap input[type="email"]{width:380px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap textarea{width:380px;}
.contactus-contant .right-bar{width: 350px;}
input.wpcf7-form-control.wpcf7-submit{width:380px;}
.map-sec iframe{height:300px}
.main-title-page{font-size: 30px; padding: 50px 0 0 24px; margin: 30px 0;}
.main-title-page::after {font-size:100px;}
.service-bar .main-content-sec ul li{width: 50%;}
.contact-outer .map-right{padding: 0px 0px 0 40px;}


.home-banner h2{font-size: 65px;}
.home-banner p{font-size: 24px; bottom: 42%;}



}

@media screen and (max-width: 810px) {
.container{width:750px;}   
.item-page .item-page-sec{width: 375px;}
.aboutus-sec .right-sec{padding: 25px 0px 0px 30px;}
.aboutus-content p{line-height: 25px;margin-bottom: 20px;}
.contact-outer .map-right{padding: 0px 0px 0 40px;}

.aboutus-content p{font-size: 14px;}
.main-title{padding:0;}
.main-title.title-contact{padding:0;}
.main-title-page{padding:0;}

.header-lft .logo{width:328px; }
.item-page-sec:nth-child(2n) .right-sec {    padding: 25px 50px 0px 0;}
.contact-outer .map-right {    padding: 0px 0px 0 10px;}
.item-page-sec:nth-child(2n) .left-sec{width: 100%;}
.item-page-sec:nth-child(2n) .right-sec{width: 100%;padding: 25px 0px 0px 0;}
.aboutus-sec .left-sec{width: 100%; position: relative;}
.aboutus-sec .right-sec{width: 100%;}
.aboutus-sec .left-sec img{height: auto;}
.aboutus-sec .right-sec{padding: 25px 0 0 0; }


}




@media screen and (max-width: 767px) {
.container{width:620px;} 
.item-page .item-page-sec{width: 310px;}
.h-top-rgt .text{display: block;}

.mob-head-call{display: block; display: inline-block;vertical-align: middle; float: none;}
.header-lft .logo{width: 225px;}
.h-top-rgt .text{width: auto; margin-bottom: 0px; margin-right: 18px; display: inline-block;vertical-align: middle;}
.header-right{margin-top: 5px;}
.menu-btn{top: 0;}
.about-main-sec{width: 100%; float: left;}
.aboutus-sec .left-sec{font-size: 0;
background: #fff;
margin-left: calc(-50vw + 50%);
position: relative;
overflow: hidden;width: 100vw;}
.aboutus-sec .right-sec{width: 100%; float: none; display: inline-block; padding: 20px 0 0 0;}
.main-title{margin-bottom: 15px;}
.aboutus-content p{line-height: 25px;margin-bottom: 20px;}
.contact-outer .map-div{width: 100%; }
.contact-outer .map-right{width: 100%;}

.main-title {font-size: 24px;}

.item-page-sec:nth-child(2n) .left-sec{width: 100%;}
.item-page-sec:nth-child(2n) .right-sec{width: 100%;padding: 25px 0px 0px 0;}
.bottom-footer{margin: 0px 0;}
.home-banner h2 {    font-size: 50px;}
.home-banner p {    font-size: 18px;}
.link-sec{width: 160px;line-height: 41px;font-size: 22px;height: 41px;}

.contact-outer .map-div iframe{height:400px;}
.text-sec p{ padding:0;}
.contact-outer .map-right strong{margin-bottom: 5px;}
.contact-outer .map-outer{display:inline-block;}
.contact-outer .map-div{display:inline-block;}
.contact-outer .map-right{padding: 40px 0px 0 40px;}


.contact-detail .hours label{float:right; padding-left:5px;}

.h-top-rgt .call a{font-size:0;

height: 100%;

width: 100%;

float: left;

background-position: center center;

padding: 0;}
.h-top-rgt .call {padding: 0;
    width: 35px;
    height: 33px;
	float: right;
	display: inline-block;vertical-align: middle; float: none;
}

.page-header p{font-size: 17px;}
.main-title.title-contact {	padding: 0;}


}



@media screen and (max-width: 639px) {
.container{width:548px;} 
.item-page .item-page-sec{width: 272px;}
.main-content .ft-title{font-size: 24px;}
.item-page .main-content ul li{font-size: 15px;}
.more-find a{font-size: 15px;}
.text-sec p{font-size: 15px; margin: 30px 0; }
.header-lft .logo{width: 215px;}
.h-top-rgt p{ font-size: 12px;}
.h-top-rgt .text{margin-right: 10px;}
.footer-content ul li{margin-right: 35px;}
.contact-outer .map-right .address{background-size: 25px 35px; padding-left: 40px; margin-bottom: 30px;}
.contact-outer .map-right .phone{ padding-left: 40px; background-size: 25px;margin-bottom: 30px;}
.contact-outer .map-right .email{ padding-left: 40px; background-size: 26px;margin-bottom: 30px;}
.contact-outer .map-right .hours{ padding-left: 40px; background-size: 30px;margin-bottom: 30px;}
.item-page .main-content ul li{margin-bottom: 20px;}
.main-content .ft-title{margin-bottom: 20px; line-height: 25px;}
.item-page .main-content ul{height: 195px;}
.main-title-page {font-size: 25px;}
.main-title-page::after {font-size: 75px;}
.contact-detail .address{background-size: 25px 35px; padding-left: 40px; margin-bottom: 30px;}
.contact-detail .phone{ padding-left: 40px; background-size: 25px;margin-bottom: 30px;}
.contact-detail .email{ padding-left: 40px; background-size: 26px;margin-bottom: 30px;}
.contact-detail .hours{ padding-left: 40px; background-size: 30px;margin-bottom: 30px;}
.contact-outer .map-div iframe{height:350px;}
.main-title-page.not-found::after{font-size: 47px;}
.main-title-page.not-found{padding:0;}
.page-header p{font-size: 16px;}

}



@media screen and (max-width:567px){ 
.container{width:400px;}
.h-top-rgt .text{display: none;}
.header-lft{float: none;display: inline-block;}
.menu-btn{left: -60px;}
.header-lft .logo{float: none;display: inline-block; margin-left: 0;}
.header-lft .logo{width: 210px;}
.footer-content ul li{margin-right: 43px;}
.footer-content ul li a{font-size: 15px;}
.footer-designed span{width: 100%; float: left; line-height: 30px;}
.item-page .item-page-sec{width: 250px;float: none;display: inline-block;}

.home-banner h2 {    font-size: 29px;}
.home-banner p {    font-size: 11px;}
.link-sec {    width: 115px;    line-height: 30px;    font-size: 18px;    height: 30px;}
.contact-detail{padding-top: 0;}
.main-title {margin-bottom: 20px;}
.contact-outer .map-div iframe{height:250px;}
.aboutus-sec .left-sec img {    height: 100%;}
.page-header p{font-size: 16px;}

}


@media screen and (max-width:413px){
.container{width:300px;}
.header-lft .logo{width: 185px;}
.menu-btn{left: -22px;}
.mob-call-us{width: 35px;}
.footer-content ul li a{font-size: 15px;}
.footer-content ul li{margin-right: 22px;}

.contact-outer .map-right {

    padding: 40px 0px 0 20px;

}
.bottom-footer{padding: 20px 0;}

.footer-designed{font-size: 14px;margin-top: 25px;}
.main-title-page {font-size: 20px; margin-bottom: 0;}
.main-title-page::after {font-size: 47px;}
.contact-detail strong{font-size: 15px;}
.contact-detail span{font-size: 15px;}
.contact-detail .address{font-size: 15px;}
.contact-outer .map-right span{font-size: 15px;}
.contact-outer .map-right strong{font-size: 15px;}
.contact-outer .map-right .address{font-size: 15px;}
.contact-detail .hours label{font-size: 15px;}
.home-banner h2 {    font-size: 22px;bottom: 60%;}
.home-banner p {    font-size: 8px;}
.page-header p{font-size: 14px;}
.link-sec {    width: 85px;    line-height: 24px;    font-size: 13px;    height: 25px;}
.service-bar figure span img{max-width: 31%;}

}