@charset "utf-8";

/*Reset Css [START]*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0; -webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;
-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;}
a:hover{text-decoration:none;}
abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] { font-family: 'Open Sans', sans-serif; -webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default;}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box; box-shadow:none;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner{border:0;padding:0;}
input[type="text"]{font-family: 'Open Sans', sans-serif; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-shadow:none;}
textarea{overflow:auto;vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:400;}
img{max-width: 100%; height: auto; width: auto; width: auto/9; border:none; vertical-align: top;}
*{ margin:0px; padding:0px;}
nav ul{list-style:none;}
ul{list-style:none;}
strong{font-weight:700;}
em{font-style: italic;}
a,div,figure,input,li,ol,p,section,span,textarea,ul{-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:16px; text-align:center; line-height:1; font-family: 'Roboto', sans-serif;     background: #fff;}
.wrapper{ width:100%; float:left; background: #fff;}              
.container{width:1200px; margin:0 auto;}
.container-fluid{width:100%; float: left;}
.box-size{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
/*Reset Css [CLOSE]*/