@import url(reset.css);
@import url(jquery.mmenu.all.css);

@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),  url('../fonts/Impact.woff') format('woff'), url('../fonts/Impact.ttf')  format('truetype'), url('../fonts/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

.menu-btn{display: none;}
.header{padding-top: 15px; padding-bottom: 20px; background: #000;box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.16);}
.header-lft{width: auto; float:left ;}
.header-lft .logo{width: 463px; float:left ;     padding: 15px 0 0;}
.header-right{float: right;width: auto;text-align: right;}
.h-top-rgt{width: 100%; float: right;}
.h-top-rgt .text{width: auto; margin-right: 18px; display: inline-block;vertical-align: middle;}
.h-top-rgt p{width: auto; float: none; color: #fff; font-family: 'Roboto', sans-serif; margin: 0; vertical-align:middle; display: inline-block; font-size: 15px; font-weight: 400;}
.h-top-rgt p a{color: #fff;}
.h-top-rgt p a:hover{color: #d12d0c;}
.h-top-rgt .call{width: 210px; float: none; height: 35px; background: #d12d0c; border-radius:3px; padding-top: 5px; display: inline-block;vertical-align: middle; text-align: center;}
.h-top-rgt .call:hover{background:#d12d0c; }
.h-top-rgt .call a{background: url(../images/call-img.png) left 5px no-repeat;padding-left: 25px; color: #fff; font-family: 'Roboto', sans-serif; font-size: 23px; font-weight: 700;}

.h-btm-rgt{width: auto; float: right; clear: both; margin-top: 20px;}
.h-btm-rgt ul{width: auto; float: left; list-style-type:none;}
.h-btm-rgt ul li{width: auto; float: left; margin-right: 57px;}
.h-btm-rgt ul li:nth-child(2n){ margin-right: 0px;}
.h-btm-rgt ul li a{width: auto;  color: #fff; text-transform: uppercase; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; font-size: 17px; font-weight:700; padding-bottom: 10px;} 
.h-btm-rgt ul li a:hover{color: #d12d0c;}  
.page-content{width: 100%; float: left;}
.primary{width:100%; margin: 0 auto;}
.home-carousel{width:100%; float: left; position: relative; text-align: center;}                     
ul.home-carousel li{width:100%; display: inline-block; vertical-align: top; }
.home-carousel .owl-nav{display: none;}
.owl-dots{display: none;}
.home-banner h2 {    position: absolute;  text-transform: uppercase;  bottom: 55%;   font-family: 'Roboto', sans-serif; left: 0;    color: #fff;    font-size: 76px;    font-weight: 700;    text-align: center;   width: 100%;}
.home-banner p {  text-transform: uppercase;   position: absolute;  font-size: 28px;  width: 100%; font-family: 'Roboto', sans-serif;   text-align: center;    bottom: 45%;  left: 0;    color: #fff;    margin-bottom: 0 !important;}
.link-sec {
       top: 65%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
   
    width: 204px;
    line-height: 45px;
    height: 45px;
    background: #d12d0c;
    z-index: 9;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;}

.link-sec:hover{background: #000;}



.aboutus-sec .left-sec{width:50%; float: left;display: inline-block;vertical-align: middle;position: absolute;left: 0; margin: 0px 0;}
.aboutus-sec .left-sec a img{width: 100%; float: left;}
.about-main-sec {float: left;width: 100vw;font-size: 0;background: #fff;margin-left: calc(-50vw + 50%);position: relative; overflow: hidden;}
.aboutus-sec .right-sec{width: 50%; float: right;  text-align: left;display: inline-block;vertical-align: middle;font-size: 15px;height: 100%;padding: 75px 0px 38px 50px;}
.aboutus-sec .left-sec img{max-width:100%; height: 563px;}
.aboutus-tittle{width: 100%; float: left;  position: relative;}
.aboutus-tittle .main-title:after{color: #f2f2f2;}
.main-title{width: 100%; float: left; box-sizing: border-box; margin-bottom: 40px; font-family: 'Roboto', sans-serif; font-size: 32px; font-weight: 900;  position: relative; z-index: 999; text-align: left;}
.aboutus-content{width: 100%; float:left;}
.aboutus-content p{width: 100%; float:left ; margin-bottom: 45px; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align: left; line-height: 32px; color: #000;}
   p.text-content{ margin-bottom: 30px;}
.aboutus-content-sec {width: 100%;float: left;}
.aboutus-sec{overflow-x: hidden;}  
 .item-page-sec {    width: 100%;    float: left;}

.item-page-sec:nth-child(even) .left-sec{
    width: 50%;
    float: right;right: 0;    left: auto;}

.item-page-sec:nth-child(even) .right-sec {
    width: 50%;
    float: left;padding: 75px 50px 38px 0; }


.footer-sec{width: 100%; float: left;}
.inner-footer{width: 100%; float: left; }
.contact-outer{width: 100%; float: left; overflow-x: hidden;}
.contact-outer .map-outer { float: left; width: 100vw;font-size: 0;background: #fff;margin-left: calc(-50vw + 50%);overflow: hidden; display:table;}
.contact-outer .map-div {width: 50%; display: inline-block;vertical-align: middle;position: relative;left: 0; display: table-cell;}
.contact-outer .map-right {width: 50%; padding: 0px 0px 0 200px; display: inline-block;vertical-align: middle;font-size: 15px;height: 100%; display: table-cell;}
.contact-tittle{width: 100%; float: left;  position: relative;}
.contact-tittle .main-title:after{color: #f2f2f2;}
.contact-detail{width: 100%; float: left;padding-top: 30px;}
.contact-detail .address {background: url(../images/address.png) no-repeat left 0px;background-size: auto auto; width: 100%;   font-family: 'Roboto', sans-serif; padding-left: 55px;font-size: 18px;color: #000;font-weight: 300; line-height: 22px; background-size: 32px 46px;margin-bottom: 45px;float: left;}
 .address {text-align: left;font-size: 13px;color: #000;line-height: 22px;}
.contact-detail strong {font-weight: 500;margin-bottom: 9px;float: left;width: 100%;font-size: 18px;text-transform: capitalize;color: #000; font-family: 'Roboto', sans-serif;}
.contact-detail .phone {width: 100%; float: left; background: url(../images/phone.png) no-repeat left 3px;background-size: auto auto;padding-left: 55px;font-size: 18px; color: #000;font-weight: 400;line-height: 22px;background-size: 37px;margin-bottom: 45px;text-align: left;}
.contact-detail span {text-align: left;font-size: 18px;color: #000;line-height: 22px; float: left; font-weight: 300;}
.contact-detail .email {background: url(../images/email.png) no-repeat left 1px;background-size: auto auto;padding-left: 55px;font-size: 18px;color: #000;font-weight: 400;line-height: 22px;background-size: 34px;margin-bottom: 45px; width: 100%; float: left; text-align: left;}
.contact-detail .email a:hover{color:#d12d0c;}
.contact-outer .map-div iframe {width: 100%;height: 600px;}
.bottom-footer{background: #000; padding-top:50px; padding-bottom:54px;}
.footer-copyright{width: auto; float: none; display: inline-block;}
.footer-content{width: 100%; float: left; text-align: center;}
.footer-content ul{width: auto; float: none; display: inline-block;}
.footer-content ul li{width: auto; float: left; margin-right: 50px;}
.footer-content ul li:nth-child(2n){ margin-right: 0px;}
.footer-content ul li a{width: auto; float: left; color: #fff; text-transform: uppercase; text-decoration: none;  font-size: 17px; font-weight: 700; font-family: 'Roboto Condensed', sans-serif;}
.footer-content ul li a:hover{color: #d12d0c;}
.footer-designed{width: auto; float: none; margin-top: 50px; color: #b5c1c9; font-size: 15px; font-weight: 300; }
.footer-designed p{width: auto; float: none;  } 
.footer-designed a{color: #b5c1c9;}
.footer-designed a:hover{color: #d12d0c;}


.mob-head-call{width: auto; float:right; display: none;}
.mob-call-us{width: 40px; float: none; height: 35px; background: #ffc600; border-radius:3px; padding-top: 5px; display: inline-block;vertical-align: middle; text-align: center;}
.mob-call-us:hover{background: #fff;}
.mob-call-us a{background: url(../images/email.png) left 5px no-repeat;padding-left: 18px; color: #061846; font-family: 'Roboto', sans-serif; font-size: 23px; font-weight: 700;}

.page-tittle{width: 100%; float: left;  position: relative;}
.page-tittle .main-title-page:after{color: #f2f2f2;}
.main-title-page{width: 100%; float: left; box-sizing: border-box; margin:60px 0; font-family: 'Roboto', sans-serif; font-size: 32px; font-weight: 900;  position: relative; z-index: 999; padding: 64px 0 0 40px; text-align: left;}
.main-title-page:after{content: attr(data-th); font-size: 115px; color: #414141; text-transform: uppercase;  font-family: 'Impact'; position: absolute; left: 0; top:0; z-index: -1; letter-spacing: .06em;}

.contactus-contant{width: 100%; float: left;}
.contactus-contant .left-bar{width: 545px; float: left;     text-align: left;}
 label{width: 100%; float: left; font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 500; margin-bottom: 18px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap input[type="text"] {width: 545px; padding: 0 10px; border: #c7c7c7 2px solid; margin-top: 0px; margin-bottom: 0px;  font-family: 'Roboto', sans-serif;  height: 61px; font-size: 18px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap input[type="email"] {width: 545px; padding: 0 10px; border: #c7c7c7 2px solid; margin-top: 0px; margin-bottom: 0px;  font-family: 'Roboto', sans-serif;   height: 61px; font-size: 18px;}
.contactus-contant .left-bar span.wpcf7-form-control-wrap textarea{width: 545px;border: #c7c7c7 2px solid; padding: 10px 10px;   font-size: 18px;  height: 240px; resize: vertical;}
.contactus-contant .left-bar p { width: 100%;float: left;    }
input.wpcf7-form-control.wpcf7-submit{width: 545px; height: 58px; background: #ffc600; border: none; border-radius:3px; font-size: 23px; text-transform: uppercase; color: #061846; font-weight: 700;} 
input.wpcf7-form-control.wpcf7-submit:hover{background: #06304a; color: #fff;}
.contactus-contant .right-bar{width: 583px; float: right;}
.contact-logo { width: 100%;float: left;text-align: left; margin-bottom: 53px;}
.map-sec{width: 100%; float: left; margin-bottom:54px;}
.map-sec iframe{width: 100%; float: left; height: 613px;}
.contact-us-sec{width:100%; float:left;}






